@import "utilidades/_variables.scss";
@import "utilidades/_reset.scss";
@mixin sizes ($width,$height) {
    width: $width;
    height: $height;
}
 

header{
    background-color: $color-main;
    display: flex;
    img{
        margin-top: 25px;
       @include sizes (150px, 150px)
    }
        .dropdown-center{
            display: none;
        }
        h1{display: none;}
}

header{
    .nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $color-main;
    position: fixed;
    top: 0;
    right: 1px;
    width: 100%;
    .nav-item{float: inline-end;
        margin-left: 20px;
      }
      .nav-link{
        color: black;
       }
    }
}

header{
    .nav{
        .nav-link:hover{
            color: $color-letra;
            text-decoration: underline;
            text-align: center;
            font-size: 1rem;
        }

    }
}

@media screen and (max-width: 500px) {
  header{
    .dropdown-center{
        display: block;
        background-color: $color-main;
        top: 0;
        right: 1px;
        ul{
            background-color: $color-main;
        }
        .btn{
            background-color: $color-main;
        }
    }
  }
}

@media screen and (max-width: 500px) {
    header{
      .nav{
        display: none;
      }
    }
  }

main {
    h2{
        color: $color-main;
        border-bottom: 2px solid $color-main;
        text-align: center;
        font-size: 2em;
    }
}

main{
    #sobre-mi{
        p{
            text-align: center;
            margin: 2em;
        }
    }
}

main{
    #beneficios{
        #accordionExample {
            .accordion-item{
                .accordion-header{
                    .accordion-button{
                        background-color: $color-main;
                    }

                }
            }

        }


    }
}

main{
    #beneficios{
        #accordionExample {
            .accordion-item{
                .accordion-header:hover{
                    background-color: $color-main;
                }

            }

        }


    }
}

main{
    #contactanos{
        form { max-width:420px; margin:50px auto; }
    }
}

main{
    #contactanos{
        form {
            .feedback-input {
            color:black;
            font-family: Helvetica, Arial, sans-serif;
            font-weight:500;
            font-size: 18px;
            border-radius: 5px;
            line-height: 22px;
            background-color: transparent;
            border:2px solid $color-main;
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 15px;
            width:100%;
            box-sizing: border-box;
            outline:0;
          }
        }
    }
}

main{
    #contactanos{
        form {
            .feedback-input:focus { 
                border:2px solid #5d815d; 
            } 
        }
    }
}

main{
    #contactanos{
        form {
            .feedback-input{
                textarea {
                height: 150px;
                line-height: 150%;
                resize:vertical;
              }
            }
        }
    }
}

main{
    #contactanos{
        form {
            .feedback-input{
           
            }
        }
    }
}

[type="submit"] {
  width: 100%;
  background:$color-main;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#5d815d; }